[2019-01-15 18:00] seveibar opened #1 "Screenshots"
![selection_155](https://user-images.githubusercontent.com/1910070/51199716-83c72080-18c5-11e9-837c-c3a89c8caef4.png)

[2019-01-15 18:00] #1 closed

[2019-06-19 18:19] jordanhart opened #2 "License"
Please add a license to the project, preferably one that allows for commercial use. Thanks!

[2019-06-19 18:58] jordanhart opened #3 "npm package link"
Hey, could you please include a link to the npm package. And great job on the demo!!!

Thanks!
Jordan

[2019-06-19 19:04] jordanhart opened #4 "Download annotations in annotation demo"
Hi! Would it be possible to include an example of how to download the annotations from the webpage. It would be great to be see a clear example on how to access the annotations, and download as a json.

Thanks!

[2019-06-21 14:35] seveibar commented on #4
Hey @jordanhart,

If you hit "View Output" at the top you can see the output json. We can add download functionality. PRs welcome :)

[2019-06-21 14:40] seveibar commented on #2
Hey @jordanhart, thanks for reaching out. The project is now MIT licensed.

[2019-06-21 14:40] #2 closed

[2019-06-21 18:04] #3 closed

[2019-06-21 18:04] jordanhart commented on #4
Thanks!

[2019-06-21 18:04] #4 closed

[2019-06-21 18:58] seveibar commented on #3
Added a badge and install instructions to README, thanks @jordanhart

[2019-10-17 14:49] ArcticTee opened #6 "Broken @material-ui dependency?"
Hi, I am trying to include your Component in a React project of mine.

Running "@material-ui/core": "^4.3.1",

Getting the following errors:
[code]

When I go back to a Version 3.9.3 of @material-ui the MuiThemeProvider is found.
But the @material-ui/lab/Slider dependency from material-survey will be lost.

`Can't resolve '@material-ui/lab/Slider' in '.../node_modules/material-survey/components/Ra

[2019-10-17 18:48] oliviertassinari commented on #6
Sorry for the trouble, does the import come from the auto-import feature of your IDE?
I would encourage the following:

[code]

[2019-10-18 09:22] ArcticTee commented on #6
What do you mean by

I used the npm package and tried to use your `Annotator` Component

`import {Annotator} from "react-image-annotate"`

I guess the fix for your Theme would work.

[2019-10-18 09:32] oliviertassinari commented on #6
@ArcticTee Sorry, it was a question for the author of the package.

[2019-10-18 09:56] ArcticTee commented on #6
Sorry, confused you with the author or contributors of this package😂

[2019-10-18 10:00] oliviertassinari commented on #6
Your best workaround is to freeze @material-ui/core to v4.5.0.

[2019-10-18 12:20] renato-bohler opened #8 "Demo page offline"
The demo page is offline.

[2019-10-18 12:26] ArcticTee commented on #6
I solved it by using
[code]
in my `package.json  `

[2019-10-25 23:59] seveibar commented on #6
@ArcticTee thanks for reporting, assigning myself to fix this issue.

[2019-10-26 00:03] oliviertassinari commented on #6
Notice that Material-UI v4.5.2 will soon come out with a warning instead of an exception for the import of this private module.

[2019-11-05 09:32] sangtrants25 opened #9 "cannot load image of react image annotate component"
Hi, i can't load image into  react image annotate component. It works only when i initial it by state. When i fetch list image  in componentDidMount then render, it did not work.

[code]

[2019-11-06 03:31] sangtrants25 commented on #9
tks, i close this issue
init data = null
then
[code]

[2019-11-06 03:31] #9 closed

[2019-11-08 16:29] seveibar commented on #8
resolved in #7

[2019-11-08 16:29] #8 closed

[2019-11-08 21:17] seveibar commented on #6
fixed in 0.1.28

[2019-11-08 21:17] #6 closed

[2019-11-09 13:29] ameer opened #10 "More documentation for newbies"
Hi. Thanks for your great work. I'm fairly new to React and I want to use this library for one of my project. I run the below command and everything has been installed successfully.

`npm install react-image-annotate`

But here is the problem. I don't know how/where to use these lines to run the editor:

[code]

Any help would be appreciated. Thanks.

[2019-11-09 14:32] seveibar commented on #10
hey @ameer, take a look at Create React App. It'll show you how to create a project. After you create the project, you can place that line in the `App.js` file.

[2019-11-09 18:41] ameer commented on #10
Thanks again!

[2019-11-10 08:44] ameer commented on #10
Hi. I managed to get it up and ready. But I got this error very soon after running the app:

[code]
and after I edited my image and hit the save button I got this error:

[code]

Where is the problem?

[2019-11-11 18:02] seveibar commented on #10
You'll need to define the `onExit` function. What do you want to do with the output? If you want to save it, you'll need to save it somewhere. Many people save to the cloud, some save to local storage.

The warning is a minor issue, nothing to worry about.

[2019-11-11 18:12] seveibar commented on #10
@ameer I introduced some additional documentation in 357beae to the README that I hope helps you understand how you can manipulate react-image-annotate for your application.

[2019-11-11 20:24] ameer commented on #10
Great! I'll test it and let you know about the results. Thanks again and good luck!

[2019-11-11 20:25] #10 closed

[2019-11-12 05:20] apisitBucha opened #11 "Click Setting Button Error"
Hi. I'm Can't Click Setting Button into react image annotate component.
![1](https://user-images.githubusercontent.com/51353299/68644136-a7d7aa80-0546-11ea-96d0-a8496591cc50.jpg)
![2](https://user-images.githubusercontent.com/51353299/68644140-a9a16e00-0546-11ea-9667-177875763a3c.jpg)
this is code me
![3](https://user-images.githubusercontent.com/51353299/68644204-d5245880-0546-11ea-89a5-a73e6c676

[2019-11-12 07:42] apisitBucha opened #12 "Can't Change Picture"
Hi, I Can't Change New Picture From Upload Button Help Me Plz

[2019-11-14 21:58] seveibar commented on #12
Hi @apisitBucha, I'm not sure I understand the issue, can you clarify?

[2019-11-15 02:16] apisitBucha commented on #12
Hi @seveibar, I'm Found Soloution Thank You For Replies

[2019-11-15 02:17] #12 closed

[2019-11-19 09:23] #11 closed

[2019-11-22 09:40] KristofferTolboll2 opened #13 "Unexpected identifier when loading initial project."
I get this error whenever i try to load in the inital project, with the standard props defined in the npm module.

Can anybody help with this

![image](https://user-images.githubusercontent.com/43782552/69415135-597b9600-0d14-11ea-9f0f-410f1ea8f562.png)

[2019-11-24 08:47] adrian-catana opened #14 "Stuck points in a polygon"
Is there a way to delete a point in a polygon? The problem is if for whatever reason you move two points too close to each other they become stuck, you can't be move them anymore because when you hover the mouse over them you get the plus icon and not the drag icon, when this happens you can't continue you have to delete the polygon and start all over.

[2019-11-24 16:16] seveibar commented on #14
this seems problematic, thanks for reporting

[2019-11-25 02:28] saichander-sixsense opened #15 "Circle and oval shape selectors"
Hi!
Can you add circle and oval shape selectors also? Is it already on your roadmap?

[2019-11-25 13:02] seveibar commented on #15
This is not currently on the roadmap (we are adding curved polygon and brush support however). Thank you for filing the issue, I'd ask that anyone interested in this feature please leave an :+1:  on @saichander-sixsense's comment above.

[2019-11-25 13:04] seveibar commented on #13
You'll have to give more details, if you can post an example repository I will help you resolve the issue. If anyone else is having this issue please :+1: to confirm it is an issue with `react-image-annotate`, because these errors are fairly common due to project configuration I'm not sure this is an issue with `react-image-annotate` without a reproduction. Thanks for filing!

[2019-11-26 07:13] saichander17 commented on #15
@seveibar, I almost coded everything needed for the circle selector. There's some issue with the enclosing box. I'll fix it and raise a pull request if that's okay with you.

[2019-11-26 08:03] saichander17 commented on #15
I raised the #17 . It has the enclosing box issue (It's usually much larger). Please have a look and let me know if you could pinpoint the issue.

[2019-11-28 07:59] saichander-sixsense commented on #15
Enclosing box issue now resolved. Please check the PR.

[2019-12-02 17:17] seveibar opened #20 "Feature: Configurable Scroll Behavior (Scroll to Zoom OR Scroll to Pan)"
Make the scroll behavior configurable in settings to allow Scroll to Pan.

[2019-12-24 08:06] sumitmoga commented on #15
Hi @saichander-sixsense and @saichander17  , today i installed the react-image-annotate but there is no  circle selector? and also is there any option for upload images/add urls and if there is no regionClsList then can we add this manually via input instead of select drop down

[2019-12-25 21:48] nbenhaim opened #21 "ReactImageAnnotate props don't update with state change"
Hi, I'm pretty new to react so this is may be something I'm doing wrong on my end, but I wrapped ReactImageAnnotate component in my own component, update the state on a button click callback, and feed the state's values back into image_url and images props - but the UI doesn't update with my new images.  I simply got started by doing npm create-react-app and then npm install react-image-annotate

[2020-01-01 03:33] seveibar opened #23 "Landing Page"
Create landing page to improve visibility and usage.

[2020-01-08 09:11] denisvlr opened #24 "Demo Playground not working"
The demo site has a "Demo Playground" link leading to:
https://waoai.github.io/react-image-annotate/demo

It returns a 404.

[2020-02-27 15:18] ajmaln opened #26 "Add a delta mouse movement value to create Annotations for bounding boxes."
#### Bug:
- While using bounding box, whenever I click on the canvas, another bounding box annotation is created.
- If I try to select one of the existing annotation, another bounding box is created

#### Expected behaviour:
- Do not create bounding box annotation on click, instead add threshold distance for mouse movement to create annotation.
- Do not create annotation when clicking on labels in

[2020-02-27 15:37] seveibar commented on #26
Thanks @ajmaln, I've seen this bug as well and it's pretty annoying.

[2020-02-27 16:24] seveibar commented on #26
Annotations can sometimes contain other annotations, so we may need a new prop `allowOverlap`

[2020-02-27 18:12] #23 closed

[2020-02-27 18:12] #24 closed

[2020-02-28 22:55] ajmaln commented on #26
@seveibar  I would like to check the event handlers for drawing the boundboxes. Could you please guide me to it?

[2020-02-28 23:46] seveibar commented on #26
Hey @ajmaln, the event system has many layers, so its a bit difficult to answer this question. e.g. drawing is different than selecting. The latest version from yesterday has some fixes you might be interested in using before trying to fix the software yourself.

[2020-03-01 06:42] ajmaln commented on #26
Thank you @seveibar, will check them out.

[2020-03-04 11:27] bozazec commented on #21
I am facing the same problem.
Component is rendered properly, consuming local state variable which is empty array at the beginning.

After async loading of images this variable is updated in local state but it looks like ReactImageAnnotate component doesn't update.

I can manually refresh the annotator if there is a way.
Any comment on this?

[2020-03-05 10:19] saichander17 commented on #15
@sumitmoga, Sorry for the delayed response. I raised a PR #17 which @seveibar reviewed and opened another PR #18. You can track the progress of the work there. If you're in some urgent need and you're okay with the issues mentioned in #18, you can use [this](https://github.com/saichander17/react-image-annotate/tree/circle_selector_fix_enclosing_region) temporarily.

[2020-03-10 05:18] ThibautGeriz opened #28 "Would you be open to PR to provide a custom RegionLabel in the props?"
Hi,

I really like your library, thank you for open sourcing it.
Our use case requires us to tag more than just a string and a list of string. Would you accept a PR when we give a custom form and use it instead of the provided `RegionLabel` ?

Cheers

[2020-03-11 14:57] seveibar commented on #28
Hi @ThibautGeriz,

Do you mean a custom html form? What if we allowed JSON like this:

[code]

We may be able to list such a form on the sidebar if it gets too long. Let me know what you think.

[2020-03-12 00:47] ThibautGeriz commented on #28
Our use case has logic between the inputs so I was thinking giving a react component in the props with a custom logic within. It will implement all the callback and props that you are giving.
By default the library would use `RegionLabel` unless the prop was provided.

I have already started to work a prototype and test it with our platform, your code is easy to read and the changes are small. I w

[2020-03-13 14:40] seveibar commented on #28
Thanks!

[2020-03-24 16:55] plumpNation opened #35 "Latest commit breaks the component"
https://github.com/waoai/react-image-annotate/pull/31

This *seems* to break images completely. I only started looking at the codebase today, so please take this with a pinch of salt.

If videoTime is 0, which it is by default, then === undefined will not by true and the video tag will always render instead of the img tag.

[2020-03-26 06:21] seveibar commented on #35
yep this is fixed now

[2020-03-26 06:21] seveibar commented on #35
more specifically fixed here: https://github.com/waoai/react-image-annotate/commit/62bbb395b77b1b7bb4250a5c503b78e15bc5d73e and released as 0.2.3, thanks for reporting!

[2020-03-26 06:21] #35 closed

[2020-03-26 06:22] seveibar commented on #26
The issues presented here are now resolved, if they come up again it should be a new issue.

[2020-03-26 06:22] #26 closed

[2020-03-26 06:43] seveibar opened #36 "Document Video Editor Usage & Rename Package"
Probably rename to `react-image-video-label` or something. The video support was build primarily for the [UniversalDataTool](https://github.com/UniversalDataTool/universal-data-tool) so usage examples can be found there in the mean time.

[2020-03-31 14:22] CarlosUvaSilva opened #37 "Error when importing"
I have this error when I try to import react-image-annotate in my Create React App

[code]

Can somebody help me please

[2020-04-01 16:57] seveibar commented on #37
The segment of code posted is related to material survey. I wonder if this is due to a recent version? We're using react-image-annotate in the [universal data tool](https://universaldatatool.com) without a problem and that's based on create react app.

[2020-04-01 16:58] seveibar commented on #37
Do you have a repository that reproduces the issue? That would let us investigate sooner

[2020-04-01 17:02] CarlosUvaSilva commented on #37
@seveibar thanks for your reply.

I had Reat 16 but an old version of CRA, after I upgraded my react-scripts package it started to work

[2020-04-01 17:02] #37 closed

[2020-04-01 20:41] stajahlee opened #38 "Autocomplete / Async Retrieval for regionClsList"
I need to do something like:
[code]
where given the input typed into the select 'value container' I can perform an api call filtered on the input (our potential items that need to be available to that dropdown is a very, very large list)

Is this possible at the moment?

[2020-04-02 08:41] michaelozery opened #39 "Failed to compile example"
I tried to run the Usage code, and got an error:
Module not found: Can't resolve 'classnames' in 'C:\......\**PROJECT_NAME**\node_modules\material-survey\components\USRegionQuestion'

[2020-04-03 02:20] seveibar commented on #38
This isn't possible at the moment. But it's a good idea, so I'm guessing you have a really big list of classes?

[2020-04-03 02:25] seveibar commented on #39
Thanks @michaelozery . I'm guessing we need to add `classnames` to the `package.json`.

Can you trying running `npm install classnames` to see if it fixes it?

[2020-04-03 02:33] stajahlee commented on #38
@seveibar yes - we have over 33K devices to filter down from with an api call

[2020-04-03 06:34] seveibar commented on #38
I think you might be interested in what @ThibautGeriz is working on here: https://github.com/waoai/react-image-annotate/pull/32

Basically you could have a custom form with autocomplete. If it works for you, I can probably accelerate the merging process on that PR. Let me know

[2020-04-03 10:56] michaelozery commented on #39
Yup that worked. Thank you

[2020-04-03 13:43] stajahlee commented on #38
That's awesome - I will pull it down and try this out today to see if we can work with this. I see that you merged the branch (but not released just yet) - that's fantastic. Thanks for letting me know!  I'll keep an eye out on the released build too to see if I can install from npm. :)

[2020-04-04 17:21] seveibar commented on #38
Hey @stajahlee, I've merged the `RegionEditLabel` override into `react-image-annotate` and published it after some fixes. You can try it out in version `0.2.5`.

Here's an example that produces the following screenshots (also can be seen in src/Annotator/index.story.js)

[code]

![DeepinScreenshot_select-area_20200404131642](https://user-images.githubusercontent.com/1910070/78457235-c0bc3600-7676-

[2020-04-06 15:00] seveibar commented on #28
merged in #32

[2020-04-06 15:00] #28 closed

[2020-04-07 22:35] stajahlee commented on #38
@seveibar Thank you so much for releasing this - it is exactly what we need for this concern and my api call is working swimmingly. Unfortunately I have a new error when clicking the Settings button (in the Header). It crashes the application with the error:
[code]
I can make a new issue for this unless it is existing behavior you are aware of (for my case I really would love to just have all of t

[2020-04-07 22:42] seveibar commented on #38
Let's split this into two issues, both of which can be solved:

1. Optional Header Buttons <- Want to make it :)?
2. Issue w/ Settings button (see below)

Now there are a couple reasons why the error in (2) might be happening. Keep in mind, it doesn't seem to reproduce on the demo playground. To fix this I'd need a sample github repository that shows the issue (that should then be posted as a new

[2020-04-07 22:44] stajahlee commented on #38
I do see
[code]
when I run this command.

[2020-04-07 22:47] stajahlee commented on #38
As for the
1. Optional Header Buttons
Yes that seems like something I would be able to work on and contribute. :)

[2020-04-07 23:19] seveibar commented on #38
I'll add some contributing/development info on the wiki tonight :) Yes the main way to run the test the library is with `yarn storybook` (it runs react storybook). It lets you put in different states of the component and see how they look in a browser.

[2020-04-07 23:19] seveibar commented on #38
Ill close this issue because we solved the original problem, but feel free to open new ones for problems or feature proposals :)

[2020-04-07 23:19] #38 closed

[2020-04-07 23:20] stajahlee commented on #38
Thank you so much for everything! It really is awesome.

[2020-04-08 15:16] CarlosUvaSilva opened #40 "missing PixelSize"
For some reason the pixelSize object for each region is missing now. It was working a couple of days ago. did you commit something or maybe I deleted necessary props? I can't find the reason

[2020-04-08 15:18] seveibar commented on #40
@CarlosUvaSilva Can you describe the expected behavior? How do we reproduce it?

[2020-04-08 15:28] CarlosUvaSilva commented on #40
@seveibar thanks for the quick reply

[code]

this is the images array from the object returned by onExit I had before when it was working.

the "new" array I get now doesn't have that pixelSize object

[2020-04-08 16:12] seveibar commented on #40
Is your version 0.2.5? If it was working in a previous release you could try 0.2.4 and we would know its a regression.

[2020-04-08 17:02] CarlosUvaSilva commented on #40
I have version 0.3.0

[2020-04-10 15:13] seveibar commented on #40
We should also document this feature when we fix whatever bug is causing it not to show up.

[2020-04-11 05:27] seveibar commented on #40
I've found the bug. Fix coming later tonight.

[2020-04-11 05:47] #40 closed

[2020-04-11 06:37] seveibar opened #42 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2020-04-11 06:40] seveibar commented on #42
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2020-04-11 06:56] seveibar commented on #42
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2020-04-11 07:30] #42 closed

[2020-04-12 07:14] seveibar commented on #21
Sorry for the delay getting back to this- somehow I missed it!

Yes this is a problem, we carefully memoize to optimize the component and it sometimes causes a refreshing bug.

The workaround until this is fixed is to set a `key={imageUrl}` on the annotator. Whenever the key changes the component will refresh.

Thanks and sorry for the delay!!

[2020-04-15 17:57] sunnypatel165 opened #44 "Is it possible to detect Intersections and overlaps?"
Imagine User A has drawn something - say 2 random polygons. I have 2 questions:

1. When save() happens, is there a way to detect the two areas separately or will it be just one object?
2. Imagine a User B is presented with the same shapes and clicks on/inside one of them (say just a dot/point is being drawn). What would be the best way to detect if User B's shape "lies inside" or "overlaps" or "i

[2020-04-15 19:28] seveibar commented on #44
1. You can create multiple regions. Only one can be selected.
2. There are algorithms for determine polygon overlap. [(SO)](https://stackoverflow.com/questions/753140/how-do-i-determine-if-two-convex-polygons-intersect) [(npm)](https://www.npmjs.com/package/polygon-overlap) We've implemented some overlap algorithms for non-polygons in this library, but I don't think they're exposed.

You can proba

[2020-04-15 19:33] sunnypatel165 commented on #44
@seveibar Thanks! That's super helpful.

Just a followup though: As much as I understand the demos, the library allows a user to draw polygons on the image and also highlights them. Why do you think that the UX might not be as good? Just trying to get some ideas here.

[2020-04-15 19:37] seveibar commented on #44
Captcha is very simple. Some parts of this library (such as the sidebar) add complexity to the user interface. If you're building something that is small like a Captcha box, or has a user interact in a sort of "read-only" fashion, you might find it's not totally ergonomic. If you're able to create the capability you're looking for on the demo site and you're satisfied with the aesthetic and user i

[2020-04-15 19:39] sunnypatel165 commented on #44
Oh alright, no I think that User A (who marks "correct" regions) will definitely want/like the UI similar to the demo. Thanks for your inputs!

[2020-04-17 18:53] sunnypatel165 commented on #44
Sorry for reopening, I am a little lost here. How do I save polygons/points mapped by the user?
I passed in an` onExit = {props => {...}}` but the props only had `lastAction` that seemed to contain geometry.

How do I get all polygons/points the user might have drawn before hitting save?

[2020-04-17 18:56] seveibar commented on #44
look inside the images array, if you're still stuck, post the json output after drawing a polygon and I'll help find it :)

[2020-04-23 00:23] sunnypatel165 commented on #44
Thanks I was able to implement the whole workflow. The only thing that I can't get to work is an `ImageCanvas`.
I used ImageCanvas with `imageSrc` and `regions` and I weirdly get `Missing props images or videoSrc` which does not even belong to the Canvas component. Am I missing something?

[2020-04-23 00:59] sunnypatel165 commented on #44
And what's even more weird is that adding properties of imageSrc and regions like you would in an Annotator, renders the Annotator instead of ImageCanvas 😩

[2020-04-23 17:29] sunnypatel165 commented on #44
Nvm. Import statement needs to be `import ImageCanvas from "react-image-annotate/ImageCanas"`

I was wondering if you want me to add some more details to the README :)

[2020-04-28 07:06] seveibar opened #47 "Rename Package"
Probably rename to `react-image-video-label` or something. Not sure yet.

[2020-05-22 10:37] pzapo opened #49 "Way to input tags during shape creation."
In my project i need to label images on screen but i don't know at the start whats in there.

Is there a way to use simple form or something like that to input tags during polygon creation not before ?

[2020-05-24 02:21] seveibar commented on #49
dynamic creation of tags should be supported, but is not yet

[2020-06-05 02:38] seveibar opened #52 "When showHighlightBox is false, points can't be moved"
Related to #51

[2020-06-05 11:27] sreevardhanreddi commented on #47
@seveibar  react-image-video-annotation would be good

[2020-06-06 08:17] sreevardhanreddi opened #53 "option to manually add text and classify regions on images"
Hi, @seveibar I just checked out your project. It looks great, I need some help.

I have few doubts

* when I draw a region, I only have the option to select from the existing classes and tags, I wanted to know if there was an **option to manually enter something in the text field** and classify a region?

* In the **regions object** 'x','y','w' and 'h' values are less than the actual image size,

[2020-06-06 11:51] seveibar commented on #53
* Classifications must be predefined in the props (I'd very much like to add dynamic classification addition, PRs welcome :)
*  Percentage of image :)

[2020-06-06 14:06] sreevardhanreddi commented on #53
@seveibar I'll be happy to add the feature, could you explain to me how the mouse events and the labels are connected together?

For the second point, should I multiply x, y, w, and h values by 100 to get the true values?

[2020-06-06 15:54] seveibar commented on #53
* I think you'll want to look in the RegionEditLabel component.

* If you want the pixel values, multiply by the width and height of the image

[2020-06-06 16:18] sreevardhanreddi commented on #53
* @seveibar Thanks a lot, I will check the RegionEditLabel component.

* So for the pixel values,  I should multiply 'x' with the width of the image, 'y' with the height of the image, 'w' with the width of the image, and 'h' with the height of the image.
am I right?

[2020-06-16 03:56] seveibar opened #57 "Bounding Boxes should effect mask"
The pixels under a bounding box should be covered by the mask.

To do this, bounding boxes should be converted to polygons in the `<ImageMask />` component before being sent to `mmgc`

[2020-06-16 03:56] seveibar opened #58 "`mmgc` should execute in web worker"
It freezes the UI thread

[2020-06-16 03:58] seveibar opened #59 "`mmgc` should support "overlay" mode, that doesn't do intelligent/smart segmentation"

[2020-06-19 13:06] HTenkanen opened #61 "Read input image as bytes?"
Hi guys!

Thanks for creating this awesome tool! Have been playing around with it a little bit and it seems very promising. 👍

I have one question though: now it seems that the image source needs to be an URLs to the image.. I was wondering that would it be possible to read the image directly from bytes for example? I have a MongoDB backend and I use Python as middleware that would allow me to pas

[2020-06-19 13:21] seveibar commented on #61
You could base64 encode the image and pass it in as a data uri.

[2020-06-19 13:23] seveibar commented on #61
If you can give a link to an example serialized image we can probably figure it out.

[2020-06-19 13:23] #53 closed

[2020-06-19 13:43] HTenkanen commented on #61
@seveibar Awesome, thanks a lot for your quick answer! I'll test the base64 encoded image. Sounds like a good idea. 👍

[2020-06-19 13:49] seveibar commented on #59
"simple" mode is now supported

[2020-06-19 13:49] #59 closed

[2020-07-07 14:33] maaft opened #62 "Can we render whole components instead of only images?"
I would like to render custom react-components instead of images. Any easy way to achieve this?

[2020-07-09 13:40] seveibar commented on #62
this is outside the scope of this library. although it would certainly be a cool feature.

you could try forking and replacing the `<VideoOrImageCanvasBackground />` component.

[2020-07-09 13:40] #62 closed

[2020-07-09 13:40] #61 closed

[2020-07-22 15:07] andreehultgren opened #64 "Images state doens't update"
When updating state of parent component, (changing the set of images and/or the current image). If the new selected image is not a part of the initial set of images, it wont work.

Fix: Make images more dynamic. If images are changed in props, update in the state of the tool.

[2020-07-22 15:24] andreehultgren commented on #64
A temporary fix is changing key and thus recreating the component, but it would be way nicer if the image state would update automatically

[2020-07-22 21:53] seveibar commented on #64
Good feature/fix request. Will be easier to complete when/if we refactor to recoil, but this is simple enough i think it could be done sooner. Not going to grab myself just set if someone else wants to take a stab at it.

[2020-07-27 10:23] carlobambo opened #67 "Center image and reset pan when resetting the zoom level"
Is there a way to center an image vertically and horizontally?
Also I think it would be good to reset the pan to center when resetting the zoom via zoom tool. The zoom should also prevent having a negative zoom, cause I honestly think there is no use case for zooming it out too much since the library already rescale the image to fit it in the view port.

[2020-07-27 15:09] seveibar commented on #67
there's not a way to center the image yet, but I think it's a good idea.

[2020-07-27 15:10] #58 closed

[2020-07-27 15:10] #57 closed

[2020-07-27 15:56] seveibar opened #68 "Loading Icon for Autosegmentation Web Worker"
Bottom right corner. Just to indicate that it's loading and no errors occurred.

[2020-07-27 17:17] seveibar opened #69 "Detect and display image CORs error"

[2020-08-07 19:10] seveibar opened #76 "PDF Support"
Convert the pdf to an image.

[2020-08-07 19:11] seveibar opened #77 "Brightness / Contrast Adjustment for Images"

[2020-08-07 19:12] seveibar opened #78 "Multi-Channel Images"

[2020-08-09 17:40] shabuddins opened #79 "Refusing to install react-image-annotate as a dependency of itself"
[npm-debug.log](https://github.com/UniversalDataTool/react-image-annotate/files/5048152/npm-debug.log)

[2020-08-10 13:20] seveibar commented on #79
I can't seem to replicate this. Can you give some details of your operating system and what commands you ran?

[2020-08-23 08:42] vijaylincod opened #88 "Unable to load local stored images"
I am working on project where user upload a image zip file and it will get extracted in local. I want to render those extracted images.

Thanks.

[2020-08-24 15:21] seveibar commented on #88
Hey @vijaylincod! Thanks for sharing your use case. What happens when you try to import the extracted directory of images with the desktop app? You should be able to do it from `Samples > Import > Files from Directory`

[2020-08-25 18:55] vijaylincod commented on #88
Thanks for quick reply. Right now requirement is to create a React App

[2020-08-26 00:29] seveibar commented on #88
Web security prevents us from opening local files, you'll need to proxy the files through a server. It's very annoying but "file://" urls simply won't work in a browser

[2020-08-26 00:30] seveibar commented on #79
What version of `node` are you using? What's the output of `node --version`? Mine is v12.16.1

[2020-08-26 03:45] yaserazfar opened #89 "Unclear on how to use onExit property on Save"
I am trying to add functionality of the Save button using the annotator but following the documentation I am unsure of how to use the onExit property. Currently I am trying to just print to console the properties of the annotations I have made on an image and I assume that utilising the onExit property is the way to do this.

An example of using the onExit with its type `MainLayoutState => any` wo

[2020-08-26 05:41] vijaylincod commented on #88
Yes correct! So what we are doing. if user uploads a zip file of images it will get extracted and those are serve via nginx and response will "http://localhost/imge.jpg". now we can render

[2020-08-26 09:02] shabuddins commented on #79
Hi all,  sorry i guess it was fault from my side,  it was silly i did not
then understood how npm installations work.  UDT works perfectly..  Thanks
for being helpful and responsive.

On Wed, Aug 26, 2020, 6:00 AM Severin Ibarluzea <notifications@github.com>
wrote:

--

*Verificient Technologies, Inc.*
https://www.verificient.com/
<https://www.verificient.com/> | New York, USA | Pune | Delhi NCR,

[2020-08-26 20:04] fowad-sohail opened #90 "SyntaxError: Cannot use import statement outside a module"
I've been hunting for a package like this for so long!

Just trying to get this up and running but I'm running into this issue:
![image](https://user-images.githubusercontent.com/33504467/91351097-b598ac80-e7b5-11ea-920e-c9f041205a31.png)

Here's the component that's using this library:
[code]

I'm using Next.js if that matters

Thank you!

[2020-08-29 02:16] seveibar commented on #90
We don't currently transpile a CJS version of this module, since Next.js uses Server Side Rendering, and node can't handle import statements (or at least node 12 can't), it doesn't work.

So to fix this, we would need a CJS version of the lib. This can be achieved by adding a babel transform that converts the imports into requires.

Curious what version of node you're using. I think newer versions

[2020-08-29 02:17] seveibar commented on #89
This is a great idea!

[2020-08-29 02:18] seveibar commented on #88
thanks for sharing!

[2020-08-29 02:18] #88 closed

[2020-08-29 02:18] seveibar commented on #79
no problem!!

[2020-08-29 02:18] #79 closed

[2020-08-30 17:37] solix commented on #21
@seveibar could you elaborate more about this fix? I have the same issue when using react-image-annotate tool. I tried to add `key={imageurl}` but it failed to refresh the state still. i get following error:

`TypeError: Cannot read property 'regions' of undefined
MainLayout
node_modules/react-image-annotate/MainLayout/index.js:131
  128 | modifyingAllowedArea: state.selectedTool === "modify-allow

[2020-08-30 19:00] seveibar commented on #21
Hey @solix, can you provide a code sandbox? I'm going to be taking a look at this soon and that could speed up the process!

[2020-09-01 21:57] fowad-sohail commented on #90
Thanks for the response! I'm using Node version `v14.4.0`.

A potential solution to this problem might be using Next.js's [dynamic imports](https://nextjs.org/docs/advanced-features/dynamic-import). I'll update here if this works

[2020-09-01 22:58] fowad-sohail commented on #90
The dynamic imports didn't work. I also tried to use this [babel transform](https://babeljs.io/docs/en/babel-plugin-transform-modules-commonjs). Unfortunately, it also didn't work.

[2020-09-01 23:05] fowad-sohail commented on #90
Here's a link to an associated [Stack Overflow post](https://stackoverflow.com/questions/63605250/react-image-annotate-syntaxerror-cannot-use-import-statement-outside-a-module)

[2020-09-02 17:13] solix commented on #21
Hey @seveibar,  I could fix the issue by adding images list to key prop like key = {this.state.images}, and then it was fine.

[2020-09-14 15:55] AjayKumarMP opened #92 "Pre-Loading previously annotated data in the image"
Once the annotation is complete and saved on the DB or some storage. If we want to see what we annotated previously, How can we reload the annotation data into the image without missing a pixel value.

Documentation is not clear and also seen the Source. Nothing is helping out.

[2020-09-14 15:57] seveibar commented on #92
We should improve the documentation around  providing saved annotations.

[2020-09-14 19:18] seveibar commented on #92
Each `image` in the `images` prop has an optional `regions`, that's where the saved regions go. I think it'd be a good idea to throw that in a code sandbox.

[2020-09-16 00:20] seveibar opened #94 "Double-clicking a keypoint in a keypoints (pose) region should set it to "obscured" and show a different point icon"
Arms and legs are often obscured in pose estimation settings, the user should be able to mark that on the points by double clicking them.

[2020-09-16 18:02] ajitStephen commented on #53
Sample regions data:
`{
  "image": {
    "src": "....",
    "name": "DSC03843.JPG",
    "pixelSize": { "w": 7952, "h": 4472 },
    "regions": [
      {
        "type": "box",
        "x": 0.14187556952658198,
        "y": 0.09422492401215805,
        "w": 0.14358491373774562,
        "h": 0.060790273556231,
        "highlighted": false,
        "editingLabels": false,
        "color": "#2196f3",

[2020-09-17 09:09] ajitStephen opened #95 "how to manage when image is still loading ?"
component does nothing when image is downloading on web page. It's very ambiguous, experience when images are 20+ MB in sizes.

[2020-09-17 09:34] seveibar commented on #95
We should absolutely show a loader! Thanks for creating the issue!

[2020-09-17 13:47] deepmistri opened #96 "Getting warning in browser console"
When I'm uploading an image I'm getting a warning like  'Each child in a list should have a unique "key" prop.'
can you please help me?

![image](https://user-images.githubusercontent.com/62154851/93479837-69570d00-f91a-11ea-80bf-01a3433afe83.png)

[2020-09-18 06:52] tsubramanian commented on #90
@fowad-sohail : Have you got it resolved?. I am at the same place where you were 20 days ago, using Next.js. Please let me know the steps you have used to solve the error.

[2020-09-18 15:41] fowad-sohail commented on #90
@tsubramanian Unfortunately I haven't. This was part of a project that I'm no longer a part of, I will make sure the rest of the team knows about this post so that if they make any progress they can update accordingly. Sorry for the inconvenience.

[2020-09-21 01:57] seveibar opened #98 "Polygon snapping for full image segmentation"
In a full segmentation setting, polygons should neatly snap together to eliminate gaps.

[2020-09-21 01:58] seveibar opened #99 "Refactor to Redux"
Right now this library uses an almost-redux architecture, when it could really just use Redux. Let's switch to redux and simplify things.

[2020-09-24 12:45] tsubramanian commented on #90
@seveibar: Any update on the bug?, The above steps seem not working for fowad, please advise code examples of what steps to be done.

[2020-09-24 14:54] seveibar commented on #90
Does anyone have an example repo of the UDT in nextjs reproducing the issue? Afraid I'm not intimately familiar with nextjs.

@tsubramanian you might consider turning off SSR for the react image annotate component using NoSSR as a temporary solution until this is resolved.

[2020-09-27 00:07] seveibar opened #100 "Region Labels should be optionally in center of region"
We should have a setting that places labels in the center of a region. We'll need to be careful to not cover any points

[2020-10-05 11:18] #96 closed

[2020-10-14 08:43] canberkakartuna opened #104 "I like to remove clone property. How can I do so?"
I like to remove clone property. How can I do so?

[2020-10-20 06:32] seveibar commented on #104
I'm not sure, but it makes sense that this shouldn't always be visible.

[2020-10-20 06:33] seveibar commented on #104
We could add "clone" as a possible key to the `allowedTools` prop. That seems like the best way to implement IMO

[2020-10-20 06:34] seveibar commented on #104
@canberkakartuna if you get a chance, provide a screenshot of the functionality you'd like to become optional :)

[2020-10-20 06:38] seveibar commented on #76
@roychowd nobody is going at it currently, and a contribution would be much appreciated!

[2020-10-21 11:36] wasifali opened #106 "Invalid hook call"
I'm trying to use this package and exactly copy pasting the demo code it is giving me the following error, I have made sure that this isn't an issue with my code it's something in the package.
![error](https://user-images.githubusercontent.com/15184858/96714405-8a000000-13bb-11eb-8562-79b6da1d16c4.png)

Code Snippet I'm using,

[code]

Versions:
[code]

[2020-10-22 12:02] canberkakartuna commented on #96
@deepmistri I am getting same problem how did you solve this issue? Thanks.

[2020-10-23 12:03] thejaigoyal opened #107 "Issue installing the package on NODE v10.16.3"
@semantic-release/git@9.0.0: The engine "node" is incompatible with this module. Expected version ">=10.18". Got "10.16.3"

Doing `yarn add react-image-annotate`

[2020-10-23 17:49] seveibar commented on #107
Please thumbs up if this is effecting you. The jury is still out as far as if we should actively support anything but the LTS and stable node releases (small core team still and no sponsors asking us to) We will accept a PR to fix however!

[2020-10-31 08:39] hoangpmhe130495 commented on #106
Yes, I have the same error. How to fix ?

[2020-10-31 15:09] BernhardGlueck opened #109 "Using the component oustide of React - Tools do not work ?"
Hi !

I am trying to integrate this component in a larger non React based web application.
I have built/bundled a wrapper module using WebPack and ReactDOM

Everything seems ok, the ui shows up , but drawing anything does not work ( nothing happens when selecting a drawing tool and clicking in the image ) pan/zoom also does not work.
There are no build or runtime errors reported..

Any ideas what

[2020-10-31 16:22] seveibar commented on #109
hey @BernhardGlueck, thanks for reporting, this is the right place to debug this.

Do you have tine to set up a code sandbox? that would make it easier for us to poke at it

[2020-11-01 00:01] BernhardGlueck commented on #109
I have setup a basic sandbox however, i can't get the sample to work there at all ...
https://codesandbox.io/s/reverent-stallman-znm86?file=/src/index.js

[2020-11-02 13:43] thejaigoyal commented on #107
@seveibar thank you, can you please let me know when I can expect this to be fixed?

[2020-11-06 19:23] philcunliffe commented on #109
Experiencing something similar, we can seemingly force a reproduction by removing <!DOCTYPE html> from the top of our index file

[2020-11-09 15:35] BernhardGlueck commented on #109
Sorry what do you mean with "force" a reproduction ? Do you mean that removing the DocType forces the same issue to happen in a standard react app ? ( as opposed to me running it within another app via ReactDOM ? )

[2020-11-09 16:32] BernhardGlueck commented on #109
Holy smokes ... that was it.. I had just draftet a quick html file for testing without concern for its structure.

Adding the correct DocType <!DOCTYPE html> seems to fix all issues ....

[2020-11-09 18:20] philcunliffe commented on #109
Glad I could help, seems that something about "Quirks" mode is breaking the application

[2020-11-09 18:23] #109 closed

[2020-11-09 18:29] philcunliffe opened #110 "Browser "quirks" mode breaks the application"
Based on my investigation on an issue similar to #109 , if the browser is in quirks mode (document.compatMode is "BackCompat") the application completely breaks. This state is most often caused by the lack of a <!doctype html> tag but given that this application is embeddable it's likely that the application will be rendered in quirks mode.

When using the bounding-box tool the horizontal crosshai

[2020-11-16 08:24] andrewtclin commented on #89
@yaserazfar Hi. I'm just wondering if you have managed to figure out the way of using this property, as in the methodology to get the coordinates for the label that you've drawn. Thanks a lot!

[2020-11-16 22:50] yaserazfar commented on #89
Hi Andrew, a groupmember of mine - @andrei-msd was able to get the annotation points by simpily using the onExit function like this:
` onExit={output => {console.log(JSON.stringify(output.images));`

[2020-11-17 01:41] andrewtclin commented on #89
@yaserazfar Thank you! That's a great help for me. Much appreciated! 👍

[2020-11-20 01:59] roychowd commented on #106
I resolved it by updating the react, react-dom. and react-image-annotate versions:

[code]

Hope this helps!

[2020-12-03 07:43] kinkievan opened #114 "material-survey"
./node_modules/material-survey/components/Survey/index.js
Module parse failed: Unexpected token (143:16)
You may need an appropriate loader to handle this file type.
|     }
|   }, _react2.default.createElement(_SurveyQuestion2.default, {
|     question: { ...q,
|       defaultAnswer: defaultAnswers[q.name]
|     },

[2020-12-03 07:57] kinkievan commented on #114
how can i fix it

[2020-12-08 08:07] ajitStephen opened #115 "Is there an option to lose shadow inside bounding box ?"
I want to just use perimeter of bounding box, so that image inside is clearly visible.

[2020-12-10 01:08] seveibar commented on #114
Can you give the steps to reproduce?

[2020-12-10 01:09] seveibar commented on #110
Hey @philcunliffe, can you give the steps to reproduce?

[2020-12-10 01:10] #106 closed

[2020-12-10 02:21] seveibar commented on #115
Hey @ajitStephen, I don't think there's a box shadow in the latest version.

![image](https://user-images.githubusercontent.com/1910070/101712852-72143680-3a64-11eb-9887-097c5f5250e9.png)

[2020-12-10 02:22] philcunliffe commented on #110
It should happen if you embed the application on any page without a <!doctype html>declaration

You can check to see if the browsers in quirks mode by checking document.compatMode
https://developer.mozilla.org/en-US/docs/Web/API/Document/compatMode

[2020-12-10 07:08] ajitStephen commented on #115
May wrong use of word shadow by me. I mean inside area in the bounding box, gets filled by a light shade of color, want to lose that.

Check screenshot:
![inspection](https://user-images.githubusercontent.com/12784114/101733233-87c94080-3ae4-11eb-9c9f-4aacc512810b.png)

[2020-12-17 10:08] AadarshBalraj opened #119 "If we update the image array dynamically by uploading image from the system I get a regions not found error."

[2020-12-17 10:08] AadarshBalraj commented on #119
Uncaught TypeError: Cannot read property 'regions' of null
    at MainLayout (index.js:124)
    at renderWithHooks (react-dom.development.js:14803)
    at updateFunctionComponent (react-dom.development.js:17034)
    at beginWork (react-dom.development.js:18610)
    at HTMLUnknownElement.callCallback (react-dom.development.js:188)
    at Object.invokeGuardedCallbackDev (react-dom.development.js:237

[2020-12-20 12:33] EnricoBeltramo opened #121 "Polygon interface"
When I insert a polygon detection, is not really clear how confirm the tagging. If I press enter, the polygon is confirmed? It works the first time, but if I create another one with previous tagged, enter doesn't work (I don't exit from polygon cretion mode). What is the correct strategy? There is a more intuitive approach?

[2020-12-24 18:56] ShahNafis opened #122 "Add text and user defined classes/tags"
I was wondering instead of having predefined classes and tags if it is possible to add user-defined classes/tags or text. For example, let's say there is an image of a cat, using a bounding box the user would select the left eye, add a class for `eye` a tag for `color` and add a description saying something like "This is the left eye of the cat".

Perhaps even have it where just text could be used

[2020-12-28 16:37] breadface opened #123 "Ab"

[2020-12-30 22:14] seveibar commented on #122
Custom text, it's a good idea!

[2020-12-30 22:14] seveibar commented on #122
This is somewhat possible using the custom label entry thing #28, but I think building it in would be nice. We might be expanding to have a more complex data entry system allowed for the label dialog in the near future

[2020-12-30 22:15] seveibar commented on #123
:+1:

[2021-01-18 09:15] owen-gxz opened #125 "An error occurs when I execute npm run dev"
npm version: 6.11.3
node version: v10.17.0

[code]

My operation is as follows：
[code]

[2021-01-18 11:41] Fischbrot opened #126 "how to filter classes by using different annotation - modes?"
Thank you guys for making this epic module, it's great!

But I'm struggling to filter out classes.

My situation:
I have 9 Classes for bbox, poly, and keypoint - three classes for each type.
Let's say bbox has 1,2,3
poly has 4,5,6
point has 7,8,9

When i click on poly it should only be showing 4,5,6.
When i click point only 7,8,9 should be available.

Is there a feature that can do this?
Or do i h

[2021-01-18 20:24] seveibar commented on #126
Let me understand:
* You are doing image segmentation
* You have 9 classes total, bounding boxes have 3 classes, polygons have 3 classes and points have 3 classes

The UDT shows all 9 classes for each of the types, when you would like it to show just the ones specific to the class.

I'm not sure how common of a use case this is, so it might not be worth the added complexity to the project to suppo

[2021-01-18 20:25] seveibar commented on #125
Node 10 isn't supported (it's being deprecated soon)

[2021-01-18 20:25] #125 closed

[2021-01-19 03:08] owen-gxz commented on #125
When I use NVM to upgrade node to 12.20.1 and 14.15.4, the error still exists

[2021-01-19 03:12] owen-gxz opened #127 "run error #125"
When I use NVM to upgrade node to 12.20.1 and 14.15.4, the error still exists   #125

[2021-01-19 03:22] #127 closed

[2021-01-19 09:56] owen-gxz opened #128 "Error in program running"
Error in program running

[code]

code :
[code]

[2021-01-19 10:32] Fischbrot commented on #126
I don't think this issue is that common to be honest.

We have this structure in our project.
We have different labels for different annotation types.

And i can't simply save a polygon label with coordinates to an bbox - type label.
Has something todo with being more specific to different models.

That's why i need this filtering function.

I will try and edit your module.

Thanks for your fast r

[2021-01-20 02:48] greallye opened #129 "When Click Next it keeps flipping back to previous Image"
Chrome Version - 87.0.4280.141
React Version -  17.0.1
react-image-annotate version - 1.7.12

When I have more than one image in the image array and try to click next it flips back to the first image every time.
This happens when I have not created an annotation or if I have created one. The same thing happens on the clone button.

The below code implementation has the issue.

import ReactImageAnn

[2021-01-20 10:06] mtourne opened #130 "Issue with storybook on windows"
I'm unable to run `yarn storybook`

[code]

[2021-01-22 09:36] Fischbrot commented on #129
I have the same issue.

I should have checked before....

I will rollback to 1.7.1

[2021-01-24 14:16] Fischbrot opened #131 "Event when user clicks 'next' or 'prev'"
Is it possible to detect when a user click next or prev?

I want to add a progressbar on my project, but i need to know when a user clicks next or prev.

Else i'd have to only put a single image in each instance and then reload the states with a custom next/prev button.

[2021-01-24 16:39] Fischbrot opened #132 "next,prev & onExit not working (not even in your demo case)"
My case:

Inserted regions with a few points => Polygon.
Tried if the next,prev works - it doesn't.
(No error, whatsoever)

Tried to see if it saves - it doesn't.
Only gives out an error:
[code]

[2021-01-26 07:24] agarsaksham opened #133 "How can I access the points for the bounding box I make using the polygon?"

[2021-02-04 10:38] NikunjPansuriya commented on #129
Yes, I am also facing the same issue.
rollback with version 1.7.10 and its working for me.

[2021-02-04 10:41] NikunjPansuriya commented on #132
@Fischbrot
You need to pass onExit props to **ReactImageAnnotate** component.
e.g.
`<ReactImageAnnotate
     labelImages
     regionClsList={[myClassList]}
     images={[myImgSrcList]}
     onExit={handleSave}
  />`

[2021-02-05 16:08] lossen opened #136 "It's hard to create boxes from mobile devices."
Is that possible to make the creation of boxes easier on touchable devices?
Now to create a box I tap two times and sometimes it creates a box sometimes not. But if I tap once nothing is happening.
And I definitely can't create a box in a desirable place.
Can we listen to touch events with this library?
Thanks in advance.

[2021-02-06 17:11] paulkr commented on #131
Yeah, I was having the same issue with the latest version. Using 1.7.10 works for me though!

[2021-02-12 14:13] Fischbrot commented on #132
@NikunjPansuriya i did.

https://universaldatatool.github.io/react-image-annotate/demo/

Try out the official demo.
Doesn't work...

[2021-02-13 04:56] seveibar commented on #132
plz help

[2021-02-16 04:52] alyssazhan opened #139 "setting button"
is it possible to remove the setting button? Any suggestions will be greatly appreciated !
<img width="548" alt="Screen Shot 2021-02-15 at 10 50 25 PM" src="https://user-images.githubusercontent.com/55511008/108019671-571fee80-6fe0-11eb-92fc-65f831839fc5.png">

[2021-02-16 20:50] alyssazhan commented on #132
I have the same problems, when clicking next, it doesn’t work.

[2021-02-16 21:53] alyssazhan commented on #139
is it possible to add a prop to hide the button?

[2021-02-17 04:47] david718 commented on #90
anyone can't solve this issue?

I got same issue for Nextjs

[2021-02-17 05:40] david718 commented on #90
I got tricky solution!

Problem is that react-image-annotate library can only import in client-side

So, Nextjs can only excute component in client side(https://nextjs.org/docs/advanced-features/dynamic-import#with-no-ssr)

So you can make component like this

[code]

[2021-02-17 08:01] NikunjPansuriya commented on #132
@Fischbrot
Please use 1.7.10 version it's working.

[2021-03-06 19:37] Tetiana-T opened #140 "How to make the button onNextImage perform onExit() saving"
I am pretty new in Web. I use your  I want to change onNextImage behavior
By clicking onNextImage perform onExit(). Is it possible?
I will appreciate for any help. thanks in advance

[2021-03-15 06:57] boypanjaitan16 commented on #90
I'm planning to use this, but my question is how we gonna pass the props to main component?

[2021-03-17 22:07] #139 closed

[2021-03-25 02:20] bhargav123m opened #145 "Disabling the onClick for the Region and the Label"
Hello i want to disable the onClick for the Region area and the Tag that show on the top of the Region after we click the Tag or Region. the reason i am asking is in one page we will allow the user to Annotate and in another page we will just show the annotation the he annotated in the previous page. in the next page we will just preview it. if anyone knows please help me on this.
Thanks

[2021-03-25 02:29] bhargav123m opened #146 "Hide the side Drawer"
Hello How can I hide the side Drawer for example if we clicks that it will show the classifications, Regions and history. i want to disable that how can I do that. please respond to this if anybody know the answer.
Thanks

[2021-03-25 11:39] arhmnsh commented on #53
@seveibar @sreevardhanreddi Could you please show us how you implemented this functionality?
Tried to check RegionEditLabel, but couldn't figure it out.

[2021-03-25 11:47] sreevardhanreddi commented on #53
hey @arhmnsh you can check this [pr](https://github.com/UniversalDataTool/react-image-annotate/pull/55/files)

[2021-03-25 11:52] arhmnsh commented on #53
@sreevardhanreddi Thanks for the quick reply. Actually, I went thru it but still couldn't figure it out. Could you please share a basic sample or codesandbox like this: https://codesandbox.io/s/react-image-annotate-example-forked-8t9w7?file=/src/App.js?

[2021-03-25 23:07] bhargav123m commented on #145
I see when we send the locked props in the region Array it is disabled the onClick but I need to see the label(cls props that we send to see the label in the region Array Obj) but it is showing the Lock Icon.

[2021-03-28 04:57] arhmnsh commented on #133
You can use the onExit function to get the polygon details

[2021-03-28 04:58] arhmnsh opened #148 "Manually add text for classification in react-image-annotate"
I am planning to use [react-image-annotate][1] to annotate images by drawing polygons. But `react-image-annotate` by default only allows selecting a classification from a predefined list.

I wanted something like this library [react-image-annotation][2] where you can draw a bounding box and it shows you a field in which you can enter custom text.

The documentation says it is possible to build a c

[2021-03-30 10:16] arhmnsh commented on #148
I have asked the same question on StackOverflow, which is having a bounty for the approved answer: https://stackoverflow.com/questions/66828641/manually-add-text-for-classification-in-react-image-annotate

[2021-03-30 20:34] bhargav123m commented on #145
for this I changed the code in the node modules from showing the icon to the showing the label dynamically

[2021-03-30 20:35] #145 closed

[2021-03-30 20:37] bhargav123m opened #150 "How to hide the button icon that shows in the right side of the annotation tool which if we clicks it opens the side drawer which i dont want to show at all"

[2021-04-06 14:17] mariomarchiorello opened #151 "Tag-popup"
Is it possible to e.g create a gallery of items, which will all act as tag/label so that, when a user selects an item everything that is annotated will be assigned to this tag/label?  Once the user selects a different item it starts over.
Would putting an event listener into each icon that sets the state do this?

 The package is really cool and my team and I are very excited to work with it!
Kind

[2021-04-16 09:25] TeamKeepers commented on #132
Hi,
I had to downgrade react & react-dom to version 16.8.0 to render it, and even with the version 1.7.10, the `next` option is not working.

[2021-04-16 09:34] TeamKeepers commented on #132
The only solution that was working for me was to play with my package.json

[code]

[2021-04-16 09:43] NikunjPansuriya commented on #132
For me it's working with the following versions:
[code]

[2021-04-19 23:32] ErnestAbbott opened #153 "Entered by mistake"
don't know how to cancel this

[2021-04-19 23:36] #153 closed

[2021-04-24 17:06] Gotham13121997 commented on #140
Here I managed to cook up something.

<ReactImageAnnotate
    selectedImage={selImage}
    taskDescription="# Draw r"
    images={images_arr}
    regionClsList={["Number Plate", "Odometer", "Crack","Dent"]}
    enabledTools={["create-polygon","create-box"]}
    onNextImage={(annotatorState)=>{
      let currentImageIndex = annotatorState.selectedImage;
      if (currentImageIndex != null && curren

[2021-04-25 11:40] ErnestAbbott opened #154 "Restoring annotations to image"
While accessing the annotation information on the "save" function,  is straightforward, it isn't too clear in most of the documentation how the annotations can be restored.
I found this documentation on the use of the 'regions' keyword. Thought I'd post it here for others who may have the same issue.

images: Array<{
    src: string,
    thumbnailSrc?: string, // use this if you are using high-res

[2021-04-26 03:15] ErnestAbbott opened #155 "Is it possible to combine 2 images and annotate them"
Is is possible, given a standard JPG/JPEG image, to overlay it with a PNG image with transparency set so that only parts of the JPG/JPEG image are overlayed and annotate the combined images?

[2021-04-26 03:16] #154 closed

[2021-04-26 10:20] vijidurai opened #156 "can we export annotated image as jpeg or png"
i want to store the annotated image in the database, so for that we need as a jpeg as output

[2021-05-06 06:40] ErnestAbbott opened #157 "Annotations comments can use all keyboard keys"
Adding comments is not the same in all browsers.
Firefox & Chromes, all letters a-z and  A-Z can be entered. Numbers that are a classification key cannot be entered. If you want a comment such as "fix by 1st Jan" this is not possible, if there is a classification key of 1.

MS Edge allows all A-Z but does not allow a s d w. a moves the image to the right, d to the left. w up and s down.  As with F

[2021-05-10 03:23] alifianadexe opened #161 "TypeError: newTags is null"
Hai, i found some bugs when adding tag on point, there is error `newTags is Null`.

This error is found in `Region Label/index.js : 131` which causes us to not be able to leave points without empty tags, I hope this issue can be resolved as soon as possible, thank you.

<img width="960" alt="newtags error" src="https://user-images.githubusercontent.com/24884433/117601979-c178a300-b179-11eb-9e8d-80

[2021-05-13 05:56] ziwap commented on #104
@seveibar How can i hide some of the buttons like the Next and Prev button

[2021-05-15 02:42] #155 closed

[2021-05-15 02:44] ErnestAbbott commented on #156
Would be a very useful function. Just what I need as well.

[2021-05-16 16:36] jdecid commented on #92
I want to integrate this to a server with a DB. I've extracted the data with the _onExit_ callback function. Once the values are already stored in a DB, I would like to show the marked bounding boxes, selected tags, and class labels when I select the same image again. Is there a way to pass these pre-loaded props to the **ReactImageAnnotate** component?

I've tried passing an array of arrays to `r

[2021-05-20 15:21] #49 closed

[2021-05-24 11:21] ErnestAbbott opened #162 "What about display only functionality"
This great package would be even greater if it has a display only functionality. All editing functions to be hidden or disabled.
Having created the annotations "else where" to be able to just display them "somewhere else" so that they are not editable etc would be a useful function.
Suggest a key word such as DisplayOnly={false} by default.

(actually could have used it last week!)

[2021-05-25 22:16] jdecid opened #163 "Error when changing between images"
When using the `prev` and `next` buttons to change between images, the index remains the first. It changes for a moment to Image 2 but it goes back to the first one without showing any error.  I'm trying to render it inside the main App component.

I'm using Node v12.18.0 on Windows with the following library versions:
- "react": "^16.13.1"
- "react-image-annotate": "^1.8.0"

[code]

I attach here

[2021-06-04 11:59] SarahKay99 opened #165 "Can you build on Windows?"
Hey guys. I forked this library to use in a project (as I understand the licence allows this). I tried running `npm run build` and `npm run-scripts build`. Neither of them worked. This error was given.

![image](https://user-images.githubusercontent.com/51705696/120797954-011b8a80-c580-11eb-9c6b-d468a89f551e.png)

Do I need to write a new command line for building on Windows?

[2021-06-05 21:45] SarahKay99 opened #166 "How to build for NPM?"
I forked this package and am trying to build a clone for NPM. I can't get the package to build properly on NPM. I made a Windows command and it's building properly in VS code to the `dist` folder, when I run `npm run build-windows`.

But when I install the package in another project it's not downloading the dist file, but rather a clone of this repo. The package doesn't work in my project since it

[2021-06-09 07:58] speshowBUAA opened #168 "How to load images from local machine"
How can I load images from local repo, not form url.

such as:
images = {[
    {src : "~/hotdog.jpg"}
]}

I've tried but id didn't work.

[2021-06-11 02:54] speshowBUAA commented on #168
Here is my solution.

const requireContext = require.context("./images", false, /^\.\/.*\.png$/);
const Imgs = requireContext.keys().map(requireContext);

<ReactImageAnnotate images={Imgs} />

[2021-06-11 02:54] #168 closed

[2021-06-17 17:05] pccisme opened #169 "allowComments"
I tried to set allowComments to true, but it doesn't show the text box for users to add comments. Also, I tried this in the [code sandbox](https://codesandbox.io/s/react-image-annotate-example-38tsc?file=/src/App.js:145-165), and it doesn't work. Does anyone have the same issue?

![202715426_200145478544275_7605367973008799154_n](https://user-images.githubusercontent.com/42566841/122442487-3f43818

[2021-06-29 08:36] speshowBUAA commented on #140
@gotham13 What's setSelImage function?

[2021-07-09 09:10] vasut02 commented on #163
I fixed this issue. It was just a problem with use effect dependency

[code]

we just need to replace selectedImage with state.selectedImage and it will work because ```selectedImage``` value is always 0 but ```state.selectedImage``` value changes with

[2021-07-09 09:12] vasut02 commented on #163
I fixed this issue. It was just a problem with use effect dependency

[code]

we just need to replace selectedImage with state.selectedImage and it will work because ```selectedImage``` value is always 0 but ```state.selectedImage``` value changes with

[2021-07-13 09:16] vasut02 commented on #163
This bug is caused due to ```state.images``` in useEffect dependency array

[code]
so what we can do?

use ```selectedImage``` prop and write your own custom Next and Prev function like this

[code]

[2021-07-28 12:58] jdecid opened #170 "Style error in the dropdowns for image tags and classes"
When setting some image classes or tags, the dropdown selection does not really create a hovered dropdown with all the options, instead, everything is shown in the same line and you have to scroll all the possible options with a super tiny scroll bar, which isn't really usable.

These screenshots are from the demo page adding the "imageTagList" attribute:

![image](https://user-images.githubuserco

[2021-07-28 13:40] jdecid commented on #163
Great, this works now, but there should be a way to have this already working without overwriting the handlers, as the functionality is a pretty common and straightforward one.

[2021-07-28 13:40] #163 closed

[2021-07-28 13:40] jdecid commented on #129
I asked the same in another issue and there is a way to fix that with by writing custom next and previous handlers, as explained in
https://github.com/UniversalDataTool/react-image-annotate/issues/163

[2021-07-28 13:41] jdecid commented on #129
I asked the same in another issue and there is a way to fix that by writing custom next and previous handlers, as explained in
#163

[2021-08-08 18:09] vasut02 commented on #132
you can reference this issue #163  it has solution for working on the next and prev buttons.

Also for onExit, you just have to pass a function with a parameter as a data object

[code]

[2021-08-20 10:00] Tetiana-T opened #173 "HotKeys - how can be used"
I want to use hot key for component react-image-annotate. I cannot find any information about it. I see in story book that there is such possibility
Will be appreciate for any advice

[2021-09-01 02:46] cmoffroad opened #175 "Ability to configure colors"
It would be great to be able to provide an array of custom colors to the annotator component properties.

I have a use case where users can pre-define a custom list of class names and colors.
Right now I can only provide the list of names via regionClsList, but colors cannot be provided since they are hardcoded in colors.js

If you are aware of a workaround please let me know. Much appreciated!

[2021-09-26 13:08] ErnestAbbott opened #177 "Firefox ver 92.0.1 does not display the image"
New version of Firefox ver 92.0.1 does not display the image. The container is shown with controls, but the image is not displayed. Just an empty box where the image should be.

[2021-10-05 20:02] mnamegaurav opened #179 "Customizing the UI components"
Hi team, I am looking for a way to customize the components provided in this tool, how am I supposed to it, any help will be appreciated.

P.S. I want to keep using this package as a NPM package, but need a way to pass my own customized UI and compoents.

[2021-11-10 13:47] vikasrajendra11 commented on #148
I had same issue. Fixed this by changing the react-image-annotate version to 1.7.1, in the package.json file. Also make sure you are using react: 16.13.1 and react-dom: 16.13.1. Hope this helps.

[2021-11-11 02:02] cwhuang119 opened #181 "Box and Polygon Misplaced when zoom in over 200%"
The location of box or polygon will shift to the right after zoom in over 200%.
Original location (https://imgur.com/lw50E3Z)
Shift location (https://imgur.com/vzsvElo)

[2021-11-13 12:29] sasanazizi commented on #15
Hi :)
Are you added brush support eventually?

[2021-11-18 11:15] Zvyozdo4ka commented on #165
I have the same problem. Either in Ubuntu

[2021-11-18 11:17] Zvyozdo4ka opened #182 "Problem to build the library"
I have tried

npm install react-image-annotate

both in Windows, then in Ubuntu. None of them can build the project! What should I do?

[2021-11-28 20:09] aashayamballi commented on #92
I tried to pass array of objects to regions,

for ex:
[code]
but it did not work for me and the rendering of the component failed. Can you please help how can I add the previously annotated coordinates?

[2021-12-06 08:20] gulsahkasdogan opened #183 "Cannot install via npm"
For usage `npm install react-image-annotate` is provided but is not working. I have tried several methods to fix the issue, tried to install canvas separately by following [their](https://github.com/Automattic/node-canvas) guidelines but encountered different errors.
Unfortunately I could not understand the root cause of the problem, any help appreciated.
Thanks

**Error log:**
[code]

[2021-12-10 09:19] HenryLiangzy opened #184 "Migrate to Material UI v5"
Since the Material v5 have been released for a while, is there any schedule or possibility to migrate this library to the v5 version?

[2021-12-14 13:58] HenryLiangzy commented on #184
While using on material UI v5 project, the `.MuiButtonRoot` and `.MuiButtonBase-root` in material v4 and some of the `makeStyle` will override the v5 style class and cause style conflict issue in Material v5 project.

[2021-12-27 16:50] kurnal-volt commented on #170
@josepdecid did you ever find a solution?

[2022-01-03 09:49] jiinjoo opened #186 "Support React 17"
React 17 has been released for some 15 months now. Can we add that to the peerDependencies?

[code]

[2022-01-10 04:51] Ayush-Thumar commented on #169
allowComments, hideFullScreen and many other props are not working !

[2022-01-20 23:56] jiinjoo commented on #186
Really hoping to help but it's a bit beyond me this maze of dependencies. Some of the underlying dependency upgrades that npm threw at me (even with @HenryLiangzy updates)

- react-full-screen 0.3.1 needs to go to 1.1.0
- react-markdown 4.0.6 needs to go to 5, 6, 7, or 8
- react-monaco-editor 0.25.1 needs to go to 0.47.0 or anything from July 21
- react-use 13.27.0 needs to go to 17.3.2 (or anythi

[2022-01-24 09:51] hadiyan commented on #146
Hello @bhargav123m, I have the same problem with you, do you have any solution? can you share it?

[2022-01-24 23:27] #184 closed

[2022-01-25 00:21] HenryLiangzy commented on #186
Hi @jiinjoo I'm working on it but might need some to time test each dependency, if you are able could you provide more detail on which dependencies need to be updated (besides the library that you mentioned before)? Thanks in advance

[2022-01-30 06:12] aubreyyan opened #190 "Clone Button behavior is unpredictable, unable to hide clone button"
Here is a reproducible example of this behavior: [![Edit tender-banach-y0evw](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/tender-banach-y0evw?fontsize=14&hidenavigation=1&theme=dark)

Note that `hideClone` is enabled but the button shows up, and regardless of this property, the clone button randomly appears and disappears when using the next/prev navigation bu

[2022-01-30 10:56] salahCoone commented on #183
same problem

[2022-01-30 17:47] aubreyyan opened #191 "React element displays incorrectly but fixes itself after going back and forward"
Here is what this looks like: https://streamable.com/qo6nob

Is there any reason for this behavior? Why would reopening the page fix/change anything?

[2022-01-31 09:52] Cerealplacebo5 commented on #131
In the 1.7.10 version, there are two props (onNextImage and onPrevImage), for functions that will be triggered by the next and prev button.

[2022-02-09 15:08] parvussaku commented on #183
You can bypass the problem with the `--legacy-peer-deps` flair, but you'll be hit with a wall of error when trying to start the dev server.. 😅

[2022-03-02 02:59] bpw1621 commented on #186
Am looking into approaches to integrate image data labeling into an application and this seems perfect for my use-case if it supports React 17: any information on when this might be addressed?

[2022-03-10 07:08] SalahHaciAkil commented on #191
Have the same problem too

[2022-03-17 06:12] jees47 opened #197 "How to set default values to ReactImageAnnotate and get coordinates array on save?"
How can i set default values to ReactImageAnnotate from api?, and also how to can get the annoted values from this so i can post to the api

[2022-04-07 04:15] aubreyyan opened #198 "preventDefault is preventing numbers from being typed in the create class menu"
https://github.com/UniversalDataTool/react-image-annotate/blob/ca3e864326c14413e0a4df2544b5c1ecdccac987/src/ClassSelectionMenu/index.js#L61-L75

This is a breaking change in 1.8.0

[2022-04-07 04:17] aubreyyan commented on #198
I might suggest that there is at least an option to the react component that can disable lines 66-71

[2022-04-11 10:51] aubreyyan commented on #197
these questions are incredibly unclear, please be more specific and provide code samples/demo

[2022-05-16 01:55] AllenZhcn opened #201 "support with Commonjs"
Hope to compile a version to provide support for commonjs

[2022-05-18 14:44] salahCoone commented on #183
use 'yarn add react-image-annotate' instead, worked for me

[2022-06-05 11:26] #64 closed

[2022-06-06 09:05] TrongNhan30520 opened #203 "Problem to yarn start"
I am trying to work with react-image-annotate library and got this error.
How to fix it? Thank you very much!
![rtyui](https://user-images.githubusercontent.com/90052240/172130839-9b64c226-6c21-4891-8076-cae6d4a68f02.PNG)
![aaa](https://user-images.githubusercontent.com/90052240/172130854-ddad28ed-ef3a-4e6a-87ae-1a5a3b89eb46.PNG)

[2022-06-21 08:39] SalahHaciAkil commented on #186
I have the same problem installing it via npm, I tried installing it using yarn, and it worked

[2022-06-26 13:53] lior-ll commented on #191
me too
on npm version 7.14.0
node version 10.19.0

[2022-06-27 19:19] henriquedantass commented on #203
@TrongNhan30520 Try to add this configurations on the resolvers of webpack

[code]

after add this settings the component renders correctly for me

[2022-06-30 03:26] TrongNhan30520 commented on #203
thank you so much

[2022-07-06 04:25] TrongNhan30520 commented on #156
have you done it yet?

[2022-07-06 04:37] TrongNhan30520 opened #204 "How to save an image along with the annotations?"
Suppose I did mark some things using a box in the image, and now I want to save/export/download that image along with that box. How can we do that?

[2022-07-22 07:18] Dogancan94 commented on #203
Are there any solution without using webpack ? Thank you.

[2022-07-29 11:44] arunkumar-dori opened #208 "image gets shrinked/hidden or shows different background color while loading on Dialog Mui"
I am trying to load this library on material ui dialog box with preloaded set of region coordinates, most of the time it works, but sometimes the library breaks, it shrinks the image or hides the image or it shows image with different color background, can you please fix this or let me know any fix for this

[2022-07-29 11:57] arunkumar-dori commented on #208
![new page](https://user-images.githubusercontent.com/63217003/181753728-39ce1204-a98d-4b5b-8f65-66cd607bbf26.png)

[2022-07-29 11:58] arunkumar-dori commented on #208
![new page2](https://user-images.githubusercontent.com/63217003/181753900-988bd0d5-f7a7-4d79-a73c-226c1422664a.png)

[2022-07-29 12:13] arunkumar-dori commented on #208
sometimes shows like this too on console
![newfdsfsd](https://user-images.githubusercontent.com/63217003/181756064-eee7306d-532e-4d4e-84ca-e5173aedec46.png)

[2022-08-16 11:29] BinShet opened #209 "Unable to drag a polygon annotation"
On hovering over a polygon annotation, we get '+' symbol to add a point, but there is no option to drag it. The only option is to delete it and redo.
A Rect/BB has the drag option. Can this be enabled for polygon as well?

[2022-10-13 06:50] parth-patel-mi commented on #186
I am using yarn and having the webpack version issue. Does anyone still working on it? Is there any plan to upgrade to react-script version 5 to support webpack 5 configuration
@seveibar

![Screenshot 2022-10-13 at 12 15 43 PM](https://user-images.githubusercontent.com/91187983/195521943-2a730130-c03a-48f5-951f-d0530d11cbae.png)

[2022-10-13 06:51] seveibar commented on #186
Would accept PR :) not a lot of time to actively work on this project

[2022-10-13 06:55] parth-patel-mi commented on #203
@seveibar, This library providing all we required but there is an issue after installing regarding webpack version <5 config.
is there any plan to upgrade the react-scripts and other legacy versions?

![Screenshot 2022-10-13 at 12 15 43 PM](https://user-images.githubusercontent.com/91187983/195523522-1285696c-7274-4d53-9fef-d25299236c21.png)

[2022-10-13 06:56] parthpatel303 commented on #186
Thanks, I am looking into it.

[2022-10-14 10:35] parth-patel-mi commented on #186
@HenryLiangzy Can you please help into this? Thanks!

After installing react-image-annotate, I am getting this error on yarn start

[2022-10-14 10:49] parth-patel-mi commented on #203
@TrongNhan30520
Can you please tell me which solution is worked for you?

[2022-10-18 09:56] parth-patel-mi commented on #181
@cwhuang119 did you find the solution for above issue? Can you please provide info on how did you fix zoom issue?

Thanks!

[2022-10-28 15:32] deadman2000 commented on #203
same problem. why so many dependencies?